@font-face {
    font-family: firaFont;
    src: url(Fira/FiraSansCondensed-Medium.ttf);
}

* {
    scroll-behavior: smooth;
    font-family: firaFont;
}

body{
    background-color: #084857 !important;
}

.container{
    display: flex;
    position: relative;
    overflow: -moz-hidden-unscrollable;
    background-color: #084857;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.recipeInfo{
    color:#ECE6CF;
}

.item h1{
    margin-bottom: 1rem;
    color:#ECE6CF;
}


.buttons{
    display: flex;
    justify-content: space-between;
    
}

.buttons a{
    text-decoration: none;
    color:#ECE6CF;
}

.form-group option{
    color:#07353f;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}