* {
    scroll-behavior: smooth;
}


/*header {
    position: relative;
    box-shadow: 0 4px 17px rgba(0, 0, 0, .1);
    background: #084552;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navegacion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.logo img {
    max-width: 38%;
    height: auto;
}

ul {
    display: flex;
    gap: .6rem;
    list-style-type: none;
    background-color: transparent;
    overflow: hidden;
}

li a {
    display: inline-block;
    padding: .9rem 1rem .05rem;
    color: #ECE6CF;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 600;
    letter-spacing: .7px;
    border-radius: 36px;
    line-height: 1;
    transition: .3s;
}

li a.active,
li a:hover {
    color: #55B47D;
}

li i {
    font-size: 1.15rem;
}

.crear {
    display: flex;
    gap: .6rem;
    background-color: transparent;

}

.button {
    background-color: #55B47D;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
}

.buttonCrear {
    padding: .3rem 1rem;
    border-radius: 28px;
    transition: all .2s ease-in-out;
}

.buttonCrear:hover {
    transform: scale(1.05);
}

.crear a {
    color: #ECE6CF;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .7px;
    line-height: 2;
    transition: .3s;
}

.crear i {
    padding-right: .5rem;
}*/

/*NavBar*/
.navegacion {
    background-color: #084552;
}

.logo img {
    max-width: 50%;
    min-width: 10px;
    height: auto;
}

.botonCrear {
    margin: auto;
}

.elem {
    size: 1.15rem;
}

@media (max-width: 450px) {
    .logo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


/*Página Principal con las Recetas*/

.general {
    position: relative;
    background-color: #084552;
    padding-top: 5rem;
    margin: 0 auto;

}

.general .container {
    width: 90%;
    height: 100%;
    position: relative;
    overflow: -moz-hidden-unscrollable;
    background-color: #084552;
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/*Items*/
.recetas {
    flex-grow: 1;
    flex-basis: 10vw;
    flex-direction: column;
    border-radius: 1rem;
    position: relative;
    transition: transform 250ms;
    box-shadow: 0 0 20px 0 #07353f;
}

.recetas:hover {
    transform: translateY(-10px);
}

.recetas img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
    border-radius: 1rem;
}

.textoRecetas {
    padding: 1rem;
    /*flex-grow: 1;*/
    text-align: center;
    background: #F29090 !important;
    color: #084552 !important;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 0rem 0rem 1rem 1rem;
}